<%- include('common/header.ejs') %>
<div class="row" style="margin:0;">
    <div class="col-md-3 sidebar" style="color: white; background-color: #262626; height: 100vh; margin:0;">
        <div class="text-center">
            <img src="/images/whatsapp.png" class="img-rounded img-responsive whatsappImg">
        </div>
        <div class="chatHead text-center">
            <p class="h1">Your Chat</p>
        </div> 
        <div>
            <% chats.forEach(title => {%>
                <button class="btn btn-primary btn-lg btn-block" onclick="emitDataRequest('<%= title %>')"><%= title %></button>
            <%})%>
            <button class="btn btn-success btn-lg btn-block" onclick="location.href='/addChat'">Add Chat</button>
        </div>
    </div>
    <div class="col-md-9" style="height: 100vh; background-color : white; margin:0; padding:0;">
        <div style="background-color: #262626; color: white; height : 50px; padding-top: 10px;">
            <div class="h3" style="margin : 0; padding : 0;">Chat 1</div>
        </div>
        <div class="chatArea">
            
        </div>
            <form class="form" style="background-color: #262626; color: white; height : 50px; padding-top: 10px;">
                <input type="file">
            </form>
        </div>
    </div>
</div>
<%- include('common/footer.ejs') %>