.whatsappImg{
    height : 150px;
    width : 150px;
    margin : auto;
    margin-top : 30px;
}
.sidebar{
    margin : 0;
    padding: 0;
}

.chatArea{
    background-image: url("/images/background.jpg");
    height: 515px; 
    width: 100%; 
    border: solid 2px #262626;
}

*{
    outline : none;
}

.chatBackground{
    background-image: url("/images/background.jpg");
    height: 100vh; 
    width: 100%; 
    padding-top: 20vh;
}

.formCont{
    width: 700px;
    height : 60vh;
    background-color: #262626;
    border-radius: 50px;
    margin :  auto;
    padding: 25vh 5vw;
}